
body {
  font-family: "Times New Roman", serif;
  background-color: #F2FFFC;
}

h1 {
  font-size: 60px;
  background-color: #851944;
  color: #fafffa; /* or color: rgb(250, 255, 250); */
  text-align: center;
}

h2 {
  font-size: 40px;
}

h1, h2 {
  font-family: "Arial", sans-serif; /* nome da fonte e tipo da fonte */
}

p {
  font-family: "Times New Roman", serif;
  text-align: justify;
}
